{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <div class="section-header-action">
        <h1>Genres</h1>
        <a class="btn btn-primary" href="{{ path('genre_new') }}">Ajouter un nouveau Genre</a>
    </div>

    <table class="table table-dark table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">Détails</a> |
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
