{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <h1>Artiste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Beginning_year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.id }}</td>
                <td>{{ artiste.name }}</td>
                <td>{{ artiste.nationality }}</td>
                <td>{{ artiste.beginningYear }}</td>
                <td>
                    <a href="{{ path('artiste_show', {'id': artiste.id}) }}">show</a>
                    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artiste_new') }}">Create new</a>
{% endblock %}
